
.fondo{
    background-image: url("../img/fondo5.jpg");
     background-size:cover;
     background-position:center;
     background-repeat:no-repeat;
     background-attachment: fixed;
 }
 .input-group { 
   width: 35%;
   margin-bottom: 15px;
 }
 
 #imagenBorde{
   border: #3498DB 1px solid;
   border-radius: 10px;
 }
 
 .titulo2{
   color: #3498DB;
   font-size: 28px;
   margin-bottom: 10px;
   font-family: Verdana; 
 }
 
 .subtitulo{
   /*color: #3498DB;*/
   color: black;
   font-size: 18px;
 }
 
 #botonInsertar{
   color: white;
   background-color: #3498DB;
   border: 2px solid;
   border-radius: 10px;
   height: 40px;
   width: 85px;
 }
 
 #botonInsertar:hover{
    color: #3498DB;
    background-color:white;
 }